form {
    display: flex;
    flex-direction: column;
		margin-top: 20px;
}

button {
    margin: 20px 15px 0px 0px;
}


.form-operario  {
    min-width: 220px;
}
  
.form-operario form > * {
    margin: 5px 0;
}
  
.mat-form-field, section {
    margin-left: 12px;
}
  
.campo {
    display: flex;
}