<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        SicWin
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Consaúde Comércio e Serviços de Informática <br>
        Todos os direitos reservados
    </mat-card-subtitle>
</mat-card>
<!-- 
<mat-card class="example-card" routerLink="/operadores">
    <mat-card-header>
        <mat-card-title>Operadores</mat-card-title>
    </mat-card-header>
        <img src="/assets/img/person.png" class="imagem-operador">
    <mat-card-content>
        <p>
            Crud Operadores
        </p>
    </mat-card-content>
</mat-card> -->
<router-outlet></router-outlet>